In [1]:
import pandas as pd
import numpy as np

In [8]:
s1=pd.Series([23,24,25,12,2])
s1

0    23
1    24
2    25
3    12
4     2
dtype: object

In [15]:
s2=pd.Series([23,24,25,12,2],index=[0,1,2,3,4])
s2

0    23
1    24
2    25
3    12
4     2
dtype: int64

In [16]:
s3=pd.Series([23,24,25,12,2],index=[0,1,2,3,4],dtype=float)
s3

0    23.0
1    24.0
2    25.0
3    12.0
4     2.0
dtype: float64

In [19]:
s4=pd.Series({"a":12,"b":21})
s4

a    12
b    21
dtype: int64

In [21]:
d1=pd.DataFrame([43,34,5,645,453])
d1

     0
0   43
1   34
2    5
3  645
4  453

In [24]:
d2=pd.DataFrame([[1,2,3],[4,5,6]] )
d2

   0  1  2
0  1  2  3
1  4  5  6

In [5]:
import pandas as pd
d2=pd.DataFrame([[1,2,3],[4,5,6]] )
d2.insert(1,"new1",d2[0])
print(d2)

   0  new1  1  2
0  1     1  2  3
1  4     4  5  6

In [16]:
s8=pd.Series([23,24,25,12,2],index=[0,1,2,3,4])
s8

0    23
1    24
2    25
3    12
4     2
dtype: int64

In [17]:
d={0:9,23:10}
d1=s8.append(d,ignore_index=True)
d1

AttributeError: 'Series' object has no attribute 'append'

In [18]:
d10=pd.DataFrame([43,34,5,645,453])
d10

     0
0   43
1   34
2    5
3  645
4  453

In [19]:
d={0:9}
d1=d10.append(d,ignore_index=True)
d1

AttributeError: 'DataFrame' object has no attribute 'append'

In [23]:
import pandas as pd
import numpy as np
d11=pd.DataFrame({'abc':np.random.randint(2,6,size=(10)),'bcd':np.random.randint(6,9,size=(10)),'efg':np.random.randint(4,7,size=(10))})
d11

   abc  bcd  efg
0    2    6    6
1    3    6    4
2    2    6    6
3    5    8    6
4    2    8    5
5    5    8    4
6    4    8    6
7    5    8    5
8    2    6    4
9    2    8    6

In [24]:
d11.head()

   abc  bcd  efg
0    2    6    6
1    3    6    4
2    2    6    6
3    5    8    6
4    2    8    5

In [25]:
d11.tail()

   abc  bcd  efg
5    5    8    4
6    4    8    6
7    5    8    5
8    2    6    4
9    2    8    6